*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style-type: none;

}
a{
  text-decoration: none;
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 2rem;
}
.container{
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
}
/*
渐变色button
*/
button{
  background-image: linear-gradient(45deg,#5651e5 0%, #709dff 100%);
  border-radius: 5px;
  padding: .8rem 1.5rem;
  color: #fff;
  cursor: pointer;
  border: 1px solid #5651e5;
}